@font-face {
    font-family: 'TT Lakes';
    src: local('TT Lakes Regular'),
         local('TTLakes-Regular'),
         url('../fonts/TTLakes-Regular.woff'),
         url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'TT Lakes';
    src: local('TT Lakes Medium'),
         local('TTLakes-Medium'),
         url('../fonts/TTLakes-Medium.woff'),
         url('../fonts/TTLakes-Medium.eot') format('embedded-opentype'),
         url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    }

@font-face {
    font-family: 'TT Lakes';
    src: local('TT Lakes Bold'),
         local('TTLakes-Bold'), 
         url('../fonts/TTLakes-Bold.woff'),
         url('../fonts/TTLakes-Bold.eot') format('embedded-opentype'),
         url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    }
