.body {
    background: #ffffff;
    font-family: 'TT Lakes';
}

.body-size {
    margin: 0 auto;
}

@media (min-width: 1120px) {
    .body-size {
        margin: 0 auto;
        max-width: 1440px;
    }
}