.btn-round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    border: none; 
    outline: none;
    padding: 0;
    font-size: 0;
    cursor: pointer;
    position: relative;
    transition: all 0.4s ease-in;
}

.btn-round--call {
    background-image: url(../../images/icons/call111.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.btn-round--profile {
    background-image: url(../../images/icons/profile111.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.btn-round--chat {
    background-image: url(../../images/icons/chat111.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.btn-round--back {
    background-image: url(../../images/icons/iconback.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.btn-round--search {
    background-image: url(../../images/icons/iconsearch.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
}

.btn-round:hover {
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    opacity: 0.5;
}

.btn-round:before {
    content: '';
    background-color: #FF3E79;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0.001, 0.001);
  }
  .btn-round:focus {
    outline: 0;
    color: #FF3E79;
    opacity: 1;
  }
  .btn-round:focus:before {
    animation: effect_dylan 0.8s ease-out;
  }
  @keyframes effect_dylan {
    50% {
      transform: scale(1.5, 1.5);
      opacity: 0;
    }
    99% {
      transform: scale(0.001, 0.001);
      opacity: 0;
    }
    100% {
      transform: scale(0.001, 0.001);
      opacity: 1;
    }
  }

.btn-round--chat, .btn-round--profile {
        margin-left: 16px;
    }
