.btn-header {
    width: 42px;
    height: 44px;
    border: none; 
    outline: none;
    opacity: 0.8;
    padding: 0;
    box-sizing: border-box;
}

.btn-header:hover, .btn-header:focus {
    opacity: 1;
}

@media screen and (max-width: 767px) {
    .btn-header__dekstop {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .devider:first-of-type, .btn-header__dekstop {
        display: none;
    }
}

@media (min-width: 1120px) {
    .btn-header:active {
        color: #FF3E79;
    }

    .btn-header {
        width: 200px;
        opacity: 1;
    }
}