.btn-hdr {
    width: 40px;
    height: 40px;
    border: none; 
    outline: none;
    opacity: 0.8;
}

.btn-hdr:hover , .btn-hdr:focus {
    opacity: 1;
}

@media (min-width: 1120px) {
    .btn-hdr__dekstop {
        display: flex;
        align-items: center;
        border: 2px solid transparent;
        outline: none;
        background-color: inherit;
        box-sizing: border-box;
        margin-right: 16px;
        padding: 10px;
        font-size: 16px;
    }
    
    .btn-hdr__dekstop:hover {
        border-color: #B8FFEC;
        background-color: white;
        border-radius: 6px;
    }

    .btn-hdr__dekstop--name {
        font-family: 'TT Lakes';
        font-weight: 500;
    }

    .btn-hdr {
        opacity: 1;
    }
}