.btn-round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    border: none; 
    outline: none;
    padding: 0;
    font-size: 0;
    cursor: pointer;
}

.btn-round--call {
    background-image: url(../../images/icons/call111.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.btn-round--profile {
    background-image: url(../../images/icons/profile111.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.btn-round--chat {
    background-image: url(../../images/icons/chat111.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.btn-round--menu {
    background-image: url(../../images/icons/burgermenu111.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 24px 16px;
}

.btn-round--repair {
    background-image: url(../../images/icons/repair111.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 16px;
}

.btn-round--search {
    background-image: url(../../images/icons/iconcheck111.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.btn-round:active {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .header__right-label {
        display: none;
    }
}

@media (min-width: 768px) {
    .btn-round--chat, .btn-round--profile {
        margin-left: 16px;
    }

    .btn-round--menu {
        margin-left: 24px;
    }
  }

@media (min-width: 1120px) {
    .btn-round:active {
        color: #FF3E79;
    }

    .btn-round {
        opacity: 1;
    }

    .btn-round--menu {
        display: none;
    }
    
    .header__right-button {
        background: none;
        display: flex;
        margin-top: 42px;
        width: 190px;
        margin-right: 0;
    }    
    .btn-round--repair, .btn-round--search {
        margin: 0;
    }
}