.header__layout {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
}

.header__menu {
    background-color: white;
    padding: 24px 16px;
    border-bottom: 1px solid #D9FFF5;
}

.header__menu-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    margin-left: 16px;
    font-size: 28px;
    font-weight: bold;
}

.header__title::before {
    content: url(../../images/icons/highlighth1.svg);
    position: absolute;
    left: 0;
}

/* Header left */

.header__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 3;
}

/* Header right */

.header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    max-width: 115px;
    margin-right: 16px;
}

.header__right-button {
    background: none;
    border: none; 
    outline: none;
    padding: 0;
}

.header__right-button:last-of-type {
    margin-left: 16px;
}

/* Deviders */

.devider {
    content: url(../../images/icons/divider.svg);
}

@media screen and (max-width: 767px) {
    .header__devider-left, .header__right-label {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header__right-label {
        display: none;
    }
    .header__devider-left {
        padding-right: 20px;
        padding-left: 4px;
    }

    .header__right-button:last-of-type {
        margin-left: 13px;
    }
}

@media (min-width: 1120px) {
    .devider, .header-logo  {
        display: none;
    }

    .header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .header__layout {
        background-color: inherit;
        flex-grow: 1;
    }

    .header__title {
        flex-grow: 5;
        margin-top: 42px;
    }

    /* Header right */

    .header__right {
        max-width: 380px;
        margin: 0;
        align-items: baseline;
    }

    .header__right-button:active {
        color: #FF3E79;
    }

    .header__right-button {
        display: flex;
        margin-top: 42px;
        margin-left: 0;
        }        

    .header__right-label {
        display: block;
        font-family: 'TT Lakes';
        font-size: 16px;
        line-height: 24px;
        align-self: center;
        padding-right: 8px;
        white-space: nowrap;
    }
}