.header__menu {
    background-color: white;
    padding: 24px 16px;
    border-bottom: 1px solid #D9FFF5;
}

.header__menu-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-left {
    display: flex;
    justify-content: space-between;
    width: 155px;
    align-items: center;
}

.header__btn {
    background: url(../../images/icons/burgerlogo.svg) no-repeat;
}

.header__title {
    margin-left: 16px;
    font-weight: 700;
}

.header__title::before {
    content: url(../../images/icons/highlighth1.svg);
    position: absolute;
    left: 0;
}

.devider {
    content: url(../../images/icons/divider.svg);
}



.header__devider2 {
    margin-right: 20px;
}

@media screen and (max-width: 767px) {
    .header__devider {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header__devider2 {
        margin-left: 20px;
    }

    .header__menu-left {
        display: flex;  
    }
    
    .header__menu-left {
        width: 200px;
    }

    .header__menu {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 1120px) {
    .header__menu {
        display: none;
    }

   .header__title {
    margin: 0;
    }
}