.scroll {
  display: flex;
  overflow-x: scroll;
  list-style: none;
  padding: 0;
}

.main__scroll {
    margin-left: 16px;
}

.scroll__item {
  flex-shrink: 0;
  padding: 8px 16px;
  border: 2px solid transparent;
  font-size: 16px;
  color: #7E7E82;
}

.scroll__link {
  text-decoration: none;
  color: inherit;
}

.scroll__item:hover {
    border: 2px solid #B8FFEC;
    box-sizing: border-box;
    border-radius: 6px;
}

.main-info__block--size {
    max-height: 90px;
    overflow: hidden;
    margin: auto 16px;
    flex-grow: 3;
}

.main-info__text {
    font-family: 'TT Lakes';
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
    vertical-align: top;
    line-height: 18px;
}

.main-info__text:last-child {
    display: none;
}

.btn-menu {
    border: none; 
    outline: none;
    background: inherit;
    font-family: 'TT lakes';
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}

.main-info__more {
    margin-left: 16px;
    
}

.main-info__more::before {
    content: url(../../images/icons/iconnext.svg);
    padding-right: 16px;
}

.btn-menu__name:hover {
    color: #FF3E79;
}


.main-info__logo {
    width: 100%;
    margin-top: 16px;
    flex-grow: 1;
}

@media (min-width: 768px) {

    .main-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    }

    .main-info__logo {
        min-width: 360px;
        margin: 0 40px 0 48px;
    }

    .main-info__block--size {
        max-height: 155px;
        margin-right: 0px;
    }

    .main-info__text {
        line-height: 20px;
    }

    .main-info__text:last-child {
        display: block;
    }
}

@media (min-width: 1120px) {
    .scroll {
        display: flex;
        flex-wrap: wrap;
        overflow-x: auto;
        margin-left: 32px;
        justify-content: space-between;
        margin-right: 20px;
      }

      .scroll__item:hover {
          background-color: #FFFFFF;
      }
    
      .main-info__block--size {
          margin-left: 34px;
      }

      .main-info__more {
          margin-left: 34px;
      }

      .main-info__logo {
          margin-right: 28px;
      }
}