.main-info__block {
    margin: auto 20px;
}

.main-info__text {
    font-family: 'TT Lakes';
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
    vertical-align: top;
    line-height: 18px;
}

.main-info__logo {
    width: 100%;
    margin-top: 16px;
    flex-grow: 1;
}

.main-info__btn {
    border: none; 
    outline: none;
    background: inherit;
    font-family: 'TT lakes';
    font-size: 16px;
    font-weight: 400;
}

@media (max-width: 767px) {
    .main-info__text:nth-child(2) {
        display: none;
    }
}

@media (min-width: 768px) {
    .main-info {
        display: flex;
        justify-content: space-around;
    }

    .main-info__logo {
        min-width: 360px;
        margin: 0 20px 0 48px;
    }

    .main-info__block {
        max-height: 135px;
        min-width: 312px;
        overflow: hidden;
    }

    .main-info__text {
        line-height: 20px;
    }

    .main-info__text:last-child {
        display: block;
    }
}

@media (min-width: 1120px) {
    .main-info__block {
        margin-left: 34px;
        width: 490px;
        max-height: none;
        height: 160px;
        font-size: 14px;
        line-height: 20px;
        flex-grow: 2;
    }

    .main-info__logo {
        margin-right: 28px;
        margin-left: 0;
        min-width: none;
        width: 530px;
    }
    
    .main-info__btn {
        margin: 0 0 0 32px;
    }
}