.nav {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 767px) {
    .nav {
        display: none;
    }
}

@media (min-width: 768px) {
    .nav {
        display: flex;
        justify-content: space-between;
    }

    .nav--position {
        margin-right: 16px;
    }
}

@media (min-width: 1120px) {
    .nav {
        display: none;
    }
}