.nav {
    display: flex;
}

.nav__btn-call {
    background: url(../../images/icons/call.svg) no-repeat;
}

.nav__btn-profile {
    background: url(../../images/icons/profile.svg) no-repeat;
}

.nav__btn-chat {
    background: url(../../images/icons/chat.svg) no-repeat;
}

.nav__btn-repair, .nav__btn-repair--dekstop {
    background: url(../../images/icons/repairlogo.svg) no-repeat;
}

.nav__btn-checkstatus, .nav__btn-checkstatus--dekstop {
    background: url(../../images/icons/checkstatuslogo.svg) no-repeat;
}

.nav__btn-repair {
    margin-right: 16px;
}

@media (max-width: 767px) {
    .nav__btn-call, .nav__btn-profile, .nav__btn-chat, .nav__block-dekstop--btns {
        display: none;
    }
}

@media (min-width: 768px) {
    .nav__block-dekstop--btns {
        display: none;
    }

    .nav {
        display: flex;
        justify-content: space-between;
    }

    .nav__btn-chat, .nav__btn-profile {
        margin-left: 16px;
    }
}

@media (min-width: 1120px) {
   .nav__block-dekstop {
       display: flex;
       flex-direction: row-reverse;
       justify-content: space-between;
       align-items: center;
       margin-top: 42px;
       margin-left: 33px;
       min-width: 405px;
   }

   .nav__block-dekstop--btns {
       display: flex;
       justify-content: space-between;
       align-items: center;
   }

   .nav__btn-checkstatus--dekstop, .nav__btn-repair--dekstop {
        margin-left: 8px;
    }
}